@use '../abstracts/index' as *;

.layout {
  padding: 16px 24px;
  border-bottom: 1px solid $listBorder;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-areas:
    'img name account'
    'img target target'
    'img content content';
  gap: 8px;

  & > * {
    place-self: center start;
  }

  [data-rolename='avatarWrapper'] {
    place-self: start;
    grid-area: img;
  }

  [data-rolename='name'] {
    grid-area: name;
    &:hover {
      text-decoration: underline;
    }
  }

  [data-rolename='account'] {
    grid-area: account;
    &:hover {
      text-decoration: underline;
    }
  }

  & > :nth-child(4) {
    grid-area: target;
  }

  [data-rolename='content'] {
    grid-area: content;
  }

  &:hover {
    background-color: $hover-background;
  }
}
