@use '../abstracts/index' as *;

.layout {
  display: flex;
  height: 100vh;
  // for safari
  max-height: -webkit-fill-available;

  /* target: navbar */
  > :first-child {
    flex-shrink: 0;
  }
  /* target: section */
  > :nth-child(2) {
    position: relative;
    flex-grow: 1;
    width: 100%;
    max-height: 100vh;
    border-left: 1px solid $listBorder;
    border-right: 1px solid $listBorder;
    /* space for navbar */
    padding-bottom: 56px;

    @include for-pad {
      padding-bottom: unset;
      margin: 0 24px 0 0px;
      max-width: 640px;
    }
    @include for-desktop {
      margin: 0 24px 0 24px;
    }
  }
}

/* popular list*/
.userList {
  display: none;
  @include for-pad {
    margin-top: 16px;
    width: 273px;
    height: min-content;
    background: $popularList-border;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    & > :first-child {
      padding: 24px;
      border-bottom: 1px solid #e6ecf0;
    }
  }
}
