@use '../abstracts/index' as *;
.layout {
  h4:first-child {
    padding: 24px 0 24px 21px;
    border-bottom: 1px solid $listBorder;
  }

  .form {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .saveBtn {
    width: 88px;
    margin-left: auto;
  }

  .logoutBtn {
    display: block;
    text-align: end;
    margin-right: 36px;
  }
}
