@use '../abstracts/index' as *;

.sectionWrapper {
  display: flex;
  flex-direction: column;

  & > :first-child {
    padding: 24px;
    display: flex;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    img {
      width: 24px;
    }
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

.replyInput {
  position: relative;
  padding: 16px 24px;
  grid-template-rows: 82px;
  border-bottom: 1px solid $listBorder;
  textarea {
    height: 50px;
  }
}
