@use '../abstracts/index' as *;

.sectionWrapper {
  display: flex;
  flex-direction: column;
}

.sectionHeader {
  align-self: flex-start;
  width: fit-content;
  padding: 24px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.5;
  }

  img {
    width: 24px;
  }

  div {
    position: relative;
    min-width: 50px;
    p {
      @include font(1.125rem, 700, 1.44);
    }

    span {
      @include font(0.8125rem, 500, 1.1875rem, $text-secondary);
      position: absolute;
      bottom: 1px;
      translate: 0 100%;
    }
  }
}

.switchers {
  width: 100%;
  border-bottom: 1px solid $listBorder;

  &.switcherTopBorder {
    border-top: 1px solid $listBorder;
  }

  a {
    width: 80px;
    text-align: center;
  }
}

@include for-pad {
  .switchers {
    a {
      width: 110px;
    }
  }
}
