@use '../../abstracts/index' as *;

.layout {
  width: 100%;
  max-width: 640px;
  border-bottom: 1px solid $listBorder;
  padding: 16px 24px;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto 1fr;
  column-gap: 8px;
  row-gap: 6px;
  grid-template-areas:
    'img name account'
    'img content content'
    'img info info';

  > * {
    cursor: pointer;
  }

  > span,
  > p {
    &:hover {
      text-decoration: underline;
    }
  }
  [data-rolename='avatarWrapper'] {
    grid-area: img;
    align-self: start;
  }

  [data-rolename='name'] {
    grid-area: name;
  }

  [data-rolename='account'] {
    grid-area: account;
  }

  [data-rolename='content'] {
    grid-area: content;
  }

  &:hover {
    background-color: $hover-background;
  }
}

.tweetInfo {
  grid-area: info;

  button {
    @include font(0.875rem, 600, 1, $text-secondary, 'Montserrat');
    margin-right: 40px;
    height: 1.25rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &:hover > span {
      text-decoration: underline;
    }
    & > * {
      height: 1rem;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}
