@use '../../abstracts/index' as *;

.layout {
  height: 100vh;
  > div {
    height: 85%;
    > textarea {
      height: 100%;
    }
  }
}

@include for-pad {
  .layout {
    height: 243px;
    > div {
      height: 100%;
      > textarea {
        height: 75%;
      }
    }
  }
}
