@use '../../abstracts/index' as *;

.AuthContainer {
  position: relative;
  padding-top: 69px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 356px;

  h3 {
    margin-top: 29px;
    margin-bottom: 40px;
  }

  .input__wrapper {
    margin-bottom: 32px;
  }

  button {
    margin-top: 8px;
  }

  & > :first-child {
    align-self: center;
  }

  & > :last-child {
    margin-top: 22px;
    justify-content: flex-end;
    width: 100%;
    display: flex;
    gap: 12px;
    &:only-of-type {
      justify-content: center;
    }
  }
}

@keyframes shakeshake {
  from {
    visibility: hidden;
    transform: translateX(0%);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(10%);
  }
}

/* input div*/
.input__wrapper {
  position: relative;
  width: 100%;
  padding: 2px 0 4px;
  background: #f5f8fa;

  /* bottom border */
  &:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: #657786;
    border-radius: 0px 0px 4px 4px;
  }

  /* bottom border:hover*/
  &:hover {
    &::after {
      background: $clr-focus;
    }
  }

  /* bottom border:focus */
  &:has(input:focus):after {
    background: $clr-focus;
  }
  /* bottom border:disabled */
  &:has(input:disabled):after {
    background: $auth-disabled;
  }
  /* bottom border which input is invalid */
  &.invalid:has(input) {
    &:after {
      background: $clr-error;
    }
    span {
      color: $clr-error;
      &.maxLen,
      &.error {
        display: inline;
        animation: shakeshake 0.1s linear 0s 1;
      }
    }
  }

  /* input label */
  > label {
    position: absolute;
    padding-left: 18px;
    @include font(0.875rem, 400, 1.57, $auth-label);
  }

  /* error message span tag */
  span {
    position: absolute;
    bottom: 0px;
    translate: 0 calc(100% + 4px);

    &.maxLen {
      display: none;
      right: 0px;
      @include font(0.75rem, 500, 1.67, $text-placeholder);
    }

    &.error {
      left: 0px;
      @include font(0.75rem, 500, 1.67, $clr-error);
    }
  }
}

.input {
  @include font(1rem, 400, 26px, $text-dark);
  width: 100%;
  height: 46px;
  padding: 20px 0 0 18px;
  background: #f5f8fa;
  border: 0;
  &::placeholder {
    color: $auth-placeholder;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    color: $auth-disabled;
  }
}

// nameInput
:global(#auth-name-input):focus {
  ~ .maxLen {
    display: inline;
  }
}
