@use '../../abstracts/index' as *;

.baseButton {
  @include font(1rem, 400, 1.5, $brand);
  background: transparent;
  padding: 7px 15px;
  border: 1px solid $brand;
  border-radius: 50px;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;

  &:hover {
    background: $brand;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    color: white;
  }

  &:active {
    background: $brand;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25) inset;
    color: white;
  }
}

.clrButton {
  border: 0;
  background: transparent;
  width: 100%;
  border-radius: 50px;
  cursor: pointer;

  @include font(1.25rem, 400, 1.5, #ffffff);
  max-width: 640px;
  padding: 8px 16px;
  background: $brand;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      $brand;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    color: white;
  }

  &:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      $brand;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25) inset;
    color: white;
  }
}
