@use '../../abstracts/index' as *;

.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.iconWrapper {
  width: 56px;
  height: 56px;
  display: inline-block;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  &[data-noti='success'] {
    border: 2px solid $clr-success;
    background-image: $noti_success;
  }
  &[data-noti='warning'] {
    border: 2px solid $clr-warning;
    background-image: $noti_warning;
  }
  &[data-noti='disconnected'] {
    border: 2px solid $clr-disconnected;
    background-image: $noti_disconnected;
  }
  &[data-noti='error'] {
    border: 2px solid $clr-error;
    background-image: $noti_error;
  }
}
