$brand: #ff6600;
$text-primary: #0062ff;
$text-pageTitle: #1c1c1c;
$text-secondary: #6c757d;
$text-dark: #171725;
$text-nav-gray: #44444f;
$listBorder: #e6ecf0;
$switch-inactive: #657786;
$text-popular-gray: #92929d;
$popularList-border: #fafafb;
$text-placeholder: #696974;
$clr-error: #fc5a5a;
$clr-success: #3dd598;
$clr-warning: #ffc542;
$hover-background: #fafafb;

$editPicturn: url('../../svgs/editImage.svg');
$discardBtn: url('../../svgs/discardImage.svg');
