$brand: #ff6600;
$text-primary: #0062ff;
$text-pageTitle: #1c1c1c;
$text-secondary: #6c757d;
$text-dark: #171725;
$text-nav-gray: #44444f;
$listBorder: #e6ecf0;
$switch-inactive: #657786;
$text-popular-gray: #92929d;
$popularList-border: #fafafb;
