@use './abstracts/index' as *;

.app {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  // for safari
  max-height: -webkit-fill-available;

  @include for-tablet {
    width: 960px;
  }
  @include for-desktop {
    width: 1140px;
  }
}

:global(.scrollbar) {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
    background: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
