@use '../../abstracts/index' as *;
.layout {
  width: 100%;
  padding: 16px 30px 16px 16px;
  border-bottom: 1px solid $listBorder;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  column-gap: 8px;

  @include for-pad {
    max-width: 640px;
  }

  [data-rolename='name'] {
    word-break: break-all;
    align-self: center;
    &:hover {
      text-decoration: underline;
    }
  }

  [data-rolename='content'] {
    grid-column: 2 / 4;
  }

  /* checkbox */
  & > :nth-child(3) {
    label {
      padding: 4px 8px;
      @include for-pad {
        padding: 8px 16px;
      }
    }
  }

  &:hover {
    background-color: $hover-background;
  }
}
