@use '../../abstracts/index' as *;

.layout {
  width: 273px;
  padding: 16px;
  display: grid;
  grid-template-columns: 50px 93px 98px;
  align-items: center;
  /*  userName and UserAccount */
  & > :nth-child(2) {
    margin: 0 4px 0 8px;
    > * {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  /* following button */
  & > :nth-child(3) {
    text-align: end;
  }
}

.subtext {
  @include font(0.875rem, 500, 1.57, $text-popular-gray);
}
